.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 58px;

  .custom-font(bold; 21px; 26px; uppercase);
  color: @color-decorate-element;
  text-decoration: none;

  border: none;
  background-color: @bg-decorate-element;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: @bg-decorate-element-hover;
  }

  &:focus {
    span {
      opacity: 0.3;
    }
  }

  &:active,
  &:focus {
    background-color: @bg-decorate-element-active;

    span {
      opacity: 0.3;
    }
  }

  &:disabled {
    background-color: @bg-decorate-element-disabled;
  }
}

@media (min-width: @tablet) {
  .action-button {
    width: 458px;
  }
}
