.interested {
  .center-text(280px);
}

.interested__title {
  color: @color-standart;
  .custom-font(bold; 21px; 26px; uppercase);
}

.interested__description {
  color: @color-standart-decorate;
  .custom-font(regular; 14px; 24px; uppercase);
}

.interested__button {
  margin-top: 22px;
  margin-bottom: 49px;
}
