.posts__list-item {
  &:last-child::after,
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;

    background-color: @color-standart;
    opacity: 0.1;
  }
}

.posts__post {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 23px;
  padding-bottom: 15px;
}

.posts__post-photo {
  display: block;
}

.posts__post-title {
  margin: 0;
  margin-top: 16px;

  .custom-font(bold; 14px; 24px; uppercase);
}

.posts__post-author {
  margin: 0;

  .custom-font(regular; 14px; 24px; none);
  color: @color-standart-decorate;
}

.posts__likes-wrapper {
  display: flex;
  margin-top: 8px;
}

.posts__likes {
  margin: 0;
  .custom-font(bold; 14px; 24px; uppercase);
}

.posts__like-button {
  padding: 0;
  margin: 0;
  margin-right: 14px;

  cursor: pointer;
  background-color: transparent;
  border: none;
  opacity: 0.3;
  outline: none;
}

.posts__like-button:hover,
.posts__like-button:focus {
  opacity: 1;
}

.posts__like-button:hover svg {
  fill: @bg-decorate-element-hover;
}

.posts__like-button:active {
  opacity: 0.1;
}

@media (min-width: @tablet) {
  .posts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 20px;
    max-width: 648px;
    margin-left: auto;
    margin-right: auto;
  }

  .posts__list-item {
    width: 50%;

    &:last-child::after,
    &::before {
      content: none;
    }

    &:last-child {
      margin-right: auto;
    }

    &--top {
      width: 100%;

      .posts__photo-wrapper {
        height: 400px;
      }
    }
  }

  .posts__post {
    width: auto;
    padding: 0;
  }

  .posts__photo-wrapper {
    display: block;
    width: 100%;
    height: 267px;
  }

  .posts__post-photo {
    width: 100%;
    height: 100%;
  }

  .posts__info-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 20px;
    height: 80px;

    background-color: @bg-field;
  }

  .posts__post-title {
    margin-top: 15px;
  }

  .posts__post-author {
    order: 1;
    width: 100%;
    margin-top: -27px;
  }

  .posts__likes-wrapper {
    width: 84px;
    margin-top: 28px;
  }

  .posts__like-button {
    margin-right: 10px;
  }
}

@media (min-width: @desktop) {
  .posts__list {
    max-width: @desktop;
  }

  .posts__list-item {
    width: calc(100% / 3);

    &--top {
      width: 100%;
    }
  }

  .posts__info-wrapper {
    position: relative;
    z-index: 1;

    margin-top: -80px;
    background-color: rgba(0, 0, 0, 0.3);

    p {
      color: @color-decorate-element;
    }
  }

  .posts__post-title {
    margin-top: 17px;
  }

  .posts__post-author {
    margin-top: -24px;
  }

  .posts__like-button {
    opacity: 1;

    svg {
      fill: @color-decorate-element;
    }
  }
}
